*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #141414;
    height: 100vh;
}

main div{
    background-color: #1f1f1f;
    display: flex;
    flex-direction: column;
    place-items: center;
    max-width: 400px;
    margin: auto;
    margin-top: 20vh;
    border-radius: 15px;
    padding: 30px;
}

div img{
    width: 100px;
    border-radius: 50%;
}

div h1{
    color: white;
    font-size: 1.3rem;
    font-weight:  500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 0.05rem;
    margin: 20px 0 10px;
}

.descripcion{
    color: #b9d570;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 0.9rem;
    letter-spacing: 0.1px;
    margin-bottom: 20px;
}

.cita{
    color: aliceblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: small;
    font-weight: 100;
    letter-spacing: 0.02px;
    margin-bottom: 20px;
}

nav, ul{
    width: 100%;
}

li{
    list-style-type: none;
}

li a{
    display: block;
    text-align: center;
    text-decoration: none;
    color: aliceblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: small;
    letter-spacing: 0.5px;
    background-color: #333333;
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
}

li a:hover{
    background-color: #b9d570;
}